:root{
    /* Cores */
    --cor-H1: #ffffff
    --cor-H2: #00aaff;
    --cor-H3: #00ccff
    --cor-txt-top-nav: #007bff;
    --cor-txt-padrao: #e0e0e0;

    --cor-fundo-primario: #121212;
    --cor-fundo-secundario: #1e1e1e;

    --cor-hr: #444

}